@model MyThunes.Models.SongResponseVM

@{
    ViewBag.Title = "Index";
}

<br/>

@using (Html.BeginForm("Index", "Songs", FormMethod.Get))
{
    <p>
        Titre: @Html.TextBox("song")
        Album: @Html.TextBox("album") 
        Artiste : @Html.TextBox("artist")
        Genre: @Html.DropDownList("genre", new SelectList(Model.SongGenres), "Tous les genres")
        <input type="submit" value="Filtrer" class="btn btn-default"/>       
    </p>
}

<p>@Model.FilteredSongsCounter chansons correspondent aux critères</p>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Titre
        </th>
        <th>
            Album
        </th>
        <th>
            Artiste
        </th>
        <th>
            Genre
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Songs) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Album.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Album.Artist.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Genre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
