@model MyThunes.Models.Album

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Album</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Artist.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Artist.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            asp.n
            @Html.DisplayFor(model => model.Date)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Genre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Genre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Cover)
        </dt>
        <dd>
            <img src="@Url.Content("/" + Model.Cover)" class="img-rounded" alt="Image" width="400" height="400" />
        </dd>
    </dl>
</div>

<p class="button">
    @Html.ActionLink("Add to cart", "AddToCart", "ShoppingCart", new { id = Model.ID }, "")
</p>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<div class="panel-group">
    <div class="panel panel-default">
        @{ int counter = 0;}
        @if (Model.Reviews.Count == 0)
        {
            <p>Soyez le premier à laisser un avis !</p>
        }
        else
        {
            foreach (var model in Model.Reviews)
            {
                counter += model.Note;
            }
            <h3>Note : @(counter / Model.Reviews.Count) / 10</h3>
        }
        <div class="panel-heading"> Laisser un avis...</div>
        <div class="panel-body">
            @Html.Action("Create", "Reviews", new { AlbumID = Model.ID })
        </div>
        @{int i = 1; }
        @foreach (var review in Model.Reviews)
            {
            <div class="panel-heading">
                Commentaire @i   </div>
            i++;
            <div class="panel-body">
                @{Html.RenderPartial("~/Views/Reviews/_Details.cshtml", review);}
            </div>
                    }
    </div>
</div>